/****** General ***********/
* {
	font-family: "Raleway", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
}

.fa-solid {
	color: var(--main-color);
}

body {
	display: flex;
	justify-content: center;
}

h1,
h2,
h3,
h5 {
	font-weight: 700;
}

ul {
	list-style: none;
}

.main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

section {
	margin-bottom: 35px;
}

.section-title {
	margin: 0;
	font-size: 22px;
}

.card {
	background-color: white;
	border-radius: 20px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
	transition: 0.3s;
}

.hebergement-cards .card,
.populaires-cards .card {
	padding: 5px;
}

.card:hover {
	filter: drop-shadow(5px 6px 15px rgba(0, 0, 0, 0.3));
}

.card img {
	object-fit: cover;
}

.card-subtitle {
	font-size: 0.875rem;
}

.card-title {
	font-size: 16px;
}

.card-content {
	padding: 4px 15px 0px 15px;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color);
}

/****** Header ***********/
header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

header img {
	margin-top: 30px;
	width: 3.8125rem;
}

nav ul {
	display: flex;
}

nav li {
	margin-right: 68px;
}

nav a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding-top: 14px;
	border-top: white solid 2px;
}

nav a:hover,
nav a:active {
	border-top: var(--main-color) solid 2px;
	cursor: pointer;
	color: var(--main-color);
}

/****** Research section ***********/

.research h1 {
	margin-bottom: 8px;
}

.research form {
	margin-top: 35px;
	display: flex;
}

.location-logo {
	background: var(--main-bg-color);
	border: none;
	border-radius: 15px 0px 0px 15px;
	padding: 15px 18px 15px 18px;
}

.research form input {
	font-weight: 700;
	font-size: 1.125rem;
	text-align: center;
	border: none;
	border-top: var(--main-bg-color) solid 2px;
	border-bottom: var(--main-bg-color) solid 2px;
	outline: none;
}

.research form input:focus::placeholder {
	color: transparent;
}

.research form input::placeholder {
	color: black;
}

.research-button,
.magnyfier-button {
	padding: 15px 16px;
	background: var(--main-color);
	border: none;
	font-weight: 700;
	color: #ffffff;
	font-size: 1.125rem;
}

.research-button {
	border-radius: 0px 15px 15px 0px;
}

.magnyfier-button {
	border-radius: 15px;
	display: none;
	transform: translate(-30%);
	box-shadow: 0px 4px 4px 0px #00000040;
}

.fa-location-dot,
.fa-magnifying-glass {
	color: inherit;
}

button:hover {
	cursor: pointer;
}

/****** Filters ***********/
.section-filtres {
	margin-bottom: 35px;
}

.filters,
.container-filters,
.infobar {
	display: flex;
}

.filters > h5 {
	margin-right: 15px;
}

.container-filters {
	flex-wrap: wrap;
	flex: 1;
	gap: 15px;
}

.filter-link {
	border: 2px solid #d9d9d9;
	border-radius: 25px;
	padding: 14px 19px;
	background-color: #ffffff;
	font-size: 1.0625rem;
	font-weight: 700;
	text-align: center;
	transition: background-color 0.5s;
}

.filter-link i {
	margin-right: 10px;
}

.filter-link:hover,
.filter-link:focus {
	background-color: var(--filter-bg-color);
}

.infobar {
	margin-top: 35px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.info-icon {
	border: 1px solid #d9d9d9;
	border-radius: 100%;
	padding: 0.5px 8px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.hebergements-and-populaires section,
.hebergements-and-populaires aside {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}

.hebergements-and-populaires a {
	display: block;
}

/****** Hebergements ***********/
.hebergements {
	width: 65%;
	margin-bottom: 0;
}

.hebergement-cards .lien-carte {
	flex: 1 29%;
}

.hebergement-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	margin: 30px 0;
}

.hebergement-cards img {
	width: 100%;
	height: 124px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.hebergement-cards .card-title {
	padding-bottom: 8px;
}

.hebergement-cards .card-rating {
	padding: 8px 0 10px 15px;
	font-size: 1.2em;
}

/****** Populaires ***********/
.populaires {
	width: 32%;
}

.populaires-cards .lien-carte {
	box-sizing: border-box;
}

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.populaires-cards .card {
	display: flex;
	margin-top: 30px;
}

.populaires-cards .card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.populaires-cards img {
	width: 33%;
	height: 146px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
	width: 67%;
}

.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements-and-populaires {
		flex-direction: column;
	}

	.hebergements {
		width: 100%;
	}

	.populaires {
		width: 100%;
		margin-top: 50px;
	}

	.populaires-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.populaires-cards a {
		width: 30%;
	}

	.populaires-cards .card-title {
		font-size: 14px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}
}

/****** Activites ***********/
.activites {
	padding: 30px;
	margin-bottom: 35px;
	width: 100%;
}

.activites .card {
	height: 100%;
}

.activites-cards .lien-carte {
	width: 25%;
}

.activites-cards {
	display: flex;
	gap: 30px;
	margin-top: 30px;
}

.activites-cards img {
	width: 100%;
	height: 380px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.activites-cards .card-title {
	padding: 20px 19px;
}

/****** Footer ******/
footer {
	width: 100%;
	padding: 20px;
	background-color: var(--main-bg-color);
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

footer h5,
footer li {
	margin-bottom: 15px;
}

footer a:hover {
	text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/* Medium devices (tablet, less than 1024px)*/
@media (max-width: 1024px) {
	section {
		margin-bottom: 35px;
	}

	.filters {
		flex-direction: column;
		gap: 20px;
	}

	.hebergements {
		width: 100%;
		margin-bottom: 15px;
	}

	.populaires {
		width: 100%;
	}

	.activites-cards img {
		max-height: 200px;
	}

	.activites-cards .card-title {
		font-size: clamp(0.875rem, 0.5rem + 0.7813vw, 1rem);
		padding: 20px 19px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	.main-container {
		padding: 0;
	}

	header {
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	nav {
		width: 100%;
	}

	nav li {
		margin: 0;
		width: 50%;
	}

	nav a {
		border-bottom: var(--main-bg-color) solid 2px;
		padding-bottom: 15px;
		border-top: none;
	}

	nav a:hover,
	nav a:active {
		border-bottom: var(--main-color) solid 2px;
		border-top: none;
	}

	.magnyfier-button {
		display: initial;
	}

	.research-button {
		display: none;
	}

	.research input {
		padding: 14px 16px 14px 0;
	}

	.research {
		padding: 0px 20px;
		margin-bottom: 35px;
	}

	.filters-section {
		padding: 0 20px;
	}

	.filter-link {
		font-size: clamp(0.8125rem, 0.6786rem + 0.6696vw, 1rem);
	}

	.container-filters {
		max-width: 520px;
		flex-wrap: wrap;
		flex: 1;
	}

	.container-filters li {
		margin-bottom: 20px;
	}

	.hebergements-and-populaires {
		flex-direction: column-reverse;
	}

	.hebergements-and-populaires section {
		border-radius: 0px;
		padding: 30px 20px;
	}

	.populaires-cards {
		flex-direction: column;
		gap: 15px;
	}

	.populaires-cards a {
		width: 100%;
	}

	.populaires-cards .card {
		margin-top: 0;
	}

	.populaires-title {
		margin-bottom: 5px;
	}

	.hebergements-and-populaires .hebergements {
		background-color: #ffffff;
	}

	.hebergement-cards {
		flex-direction: column;
		gap: 15px;
		margin: 20px 0;
	}

	.hebergement-cards .lien-carte {
		margin-bottom: 0;
	}

	.activites-cards {
		flex-direction: column;
		gap: 15px;
	}

	.activites-cards .lien-carte {
		width: 100%;
	}

	.activites-cards img {
		height: 141px;
	}

	.activites-cards .card-title {
		font-size: clamp(0.9375rem, 0.8929rem + 0.2232vw, 1rem);
	}

	footer {
		grid-template-columns: 100%;
		row-gap: 50px;
		padding: 30px 20px;
	}
}
